*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
}

.menu1 {
	background-color: #0B6FFA;
	color: #fff;
	padding: 9px 0; 
}

.menu1 span{
	font-size: 15px;
}

.menu1 i{
	font-size: 15px;
}

.local{
	margin-left: 100px;
}

.contacto{
	margin-left: 68px;
}

.redesocial{
	margin-left: 636px;
}

.menu2{
	background-color: #fff;
	color: #000000;
	padding: 10px 0;
}

.menu2 ul{
	position:absolute;
	top: 66px;
	left: 418px;
}

.menu2 ul li{
	font-size: 20px;
	font-weight: 500;
	position: relative;
	color: #000000;
	float: left;
	list-style: none;
}

.menu2 li a{
	color:#333;
	text-decoration:none;
	padding:5px 10px;
	display:block;
}
		
.menu2 li a:hover{
	color:#0B6FFA;
	font-weight: bold;
}

.logo{
	margin-left: 100px;
	font-size: 32px;
	font-weight: bolder;
	color: #0B6FFA;
}

.botao{
	position: relative;
	top: -32px;
	left: 1100px;
}

.title {
	font-weight: 700;
	align-items: center;
}